.App {
  /* text-align: center; */

}

.Header{
  max-width: 1200px;
  height: 160px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.Header a{
  margin-left: 10px;
}
.Content-wrapper{
  max-width: 1200px;
  min-height: 400px;
  margin: 20px;
  padding: 20px;
  display: flex;
}
.sidebar{
  border: 2px solid black;
  width: 170px;
  display: flex;
  flex-direction: column;
}
.content{
  border: 2px solid black;
  width:1030px;

}

.Footer{
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  height: 60px;
}
